<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Error</title>
</head>
<body style="background-color: #1B4636">
    <div class="card text-center" style="width: 95vw; max-width: 100vw; margin-left: 1vw; margin-top: 2.5vh;">
        <div class="card-body" style="height: 87vh; background-color: #1B262C">
            <div>
                <a style="font-size: 70px; color: #DDDDDD; text-align: center">Uh Oh, It looks like you were trying to submit a {{ result }} Service that has already been done or is not allowed for this client. Please double-check the client\service and try again</a>
            </div>
            <button type="button" class="btn btn-primary rounded-pill" style="margin-top: 150px; width: 90%; max-width: 100%; height: 170px; color: #DDDDDD; margin-left: 5%; font-size: 70px;"><a href="/#">Return</a></button>
        </div>
    </div>
</body>
</html>